@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    overflow-x: hidden;
}
body{
    background-color: #b9b9b9;
}

::-webkit-scrollbar{
   width: 15px; 
    background-color: #93caef ;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(0deg, #010609 5%, #102a3e 30%, #23506d 60%,   #93caef 100%); 
    border-radius: 6px;
    height: 100px;
    width: 10px;
}